<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Anime Tracker</title>
		<link rel="stylesheet" href="http://localhost:8080/static/styles.css" />
	</head>
	<body>
		<header>
			<h1>My Anime List</h1>
			<a href="/">View All Anime</a>
			<a href="/add-anime">Add New Anime &#x27A2;</a>
		</header>
	</body>
</html>
